.we{
  font-size: 40px !important;
  color: red;
}
.top{
  width: 90%;
  height: 60px;
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
  
}
.icons-nav{
  width: 500px !important;
}
.logo-nav{
  width: 30% !important;
}
.light{
  width: 100%;
  height: 60px;
  /* position: fixed; */
  /* z-index: 1; */
  top: 0;
}
.img{
  width: 50px;
  height: 40px;
}
.ico button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 23px;
  color: rgb(89, 89, 89);
  margin: auto;
} 
.ico h1{
  font-size: 12px;
  color: gray;
  font-weight:400 ;
}
.ico{
  display: block;
}
imhome{
  font-size: 20px;
}
.div{ 
    width: 100%;
    height: 700px;
    background-color: rgb(243, 242, 239);
    position: relative;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between; 
    /* margin-top: 60px;  */
}
.right{
  width: 25%;
  height: 700px;
 
}
.left{
  width: 20%;
  height: 700px;
}
.center{
  width: 50%;
  height: 700px;
  overflow-y: scroll;
}
.center::-webkit-scrollbar{
  display: none;
}
.group{
  width: 90%;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  margin: 20px auto;
}
.groups{
  padding: 10px;
  width: 90%;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  margin: 20px auto;
}
.groups h1{
  font-size: 14px !important;
  color: blue;
  text-align: start;
}
.contain{
  width: 100%;
  background-color: rgb(243, 242, 239);
}
.bt{
  width: 250px;
  border-radius: 30px !important;
  height: 30px !important;
  display: flex !important;
  justify-content: center !important;
  align-items:center !important ;
}
.imgdiv{
  border-radius: 100%;
  width: 60px;
  background-color: white;
  height: 60px;
}
.imgdiv img{
  border-radius: 100%;
  object-fit: cover;
}
.imdiv{
  border-radius: 100%;
  width: 60px;
  background-color: black;
  height: 60px;
}
.idiv{
  border-radius: 100%;
  width: 60px !important;
  background-color: white;
  height: 60px;
}
.idiv img{
  object-fit: cover !important;
}
.imdiv img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
}
.inp{
  width: 85%;
  height: 50px;
  border: 1px solid rgb(162, 162, 162);
  text-align: start;
  border-radius: 30px;
  padding-inline-start: 20px;
}
.icon{
  border: none;
  background-color: transparent;
}
.dicon{
  width: 10%;
  display: inline;
}
.dicon span{
  font-size: 14px !important;
}
.custom-input{
  width: 100% !important;
  height: 100px;
  overflow-y: auto;
  border: none;
 resize: none;
 outline: none;
 white-space: normal;
  word-wrap: break-word;
}
.custom-div{
  width: 100%;
  height: 100px;
  overflow-y: auto;
  resize: none;
  white-space: normal;
  word-wrap: break-word;
}
.emoji{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
}
.iner2{
  width: 100%;
  height: 50px;
  border-radius: 5px 5px 0px 0px;
  background-color: white;
}
.iner{
  width: 100%;
  height: 70px;
  border-radius: 5px 5px 0px 0px;
  background-color: rgb(160, 180, 183);
}
.diner{
  position: relative;
}
.imgdi{
  border-radius: 100%;
  border: none;
  width: 70px;
  background-color:black;
  height: 70px;
  position: absolute;
  bottom: 50%;
  left: 35%;
  right: 35%;
  top: 30%;
}
.imgdi img{
  border-radius: 100%;
 object-fit: cover;
}
.camera{
  border: none;
  background-color: transparent;
  font-size: 30px;
}
.profile-image{
  width: 250px;
  height:250px;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
  background-color:white;
  display:flex ;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.profile-image img{
  width: 100%;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}
.feedimg{
  width: 120px;
  height: 60px;
  border-radius: 100%;
}
.mnam{
  width: 300px;
  height: 50px;
}
.mnam h1{
  font-size: 14px !important;

}
.mnam p{
  font-size: 14px !important;
  color: rgb(102, 102, 102);
}
.fol{
  width: 100px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  color: rgb(102, 102, 102);
  font-weight: 500;
  border: 1px solid rgb(102, 102, 102);
  margin: auto;
}
.connect{
  height: 30px;
  text-align: start;
}
.connect p{
  font-size: 12px !important;
}
.tex{
  color: rgb(94, 94, 94);
  font-weight: 500;
  font-size: 12px;
}
.conn{
  height: 50px !important;
}
.conn2{
  height: 20px !important;
}
.ade{
  width: 100%;
  height: 30px;
}
.access{
  font-size: 12px;
  color: rgb(102, 102, 102);
}
.acces{
  font-size: 12px !important;
  padding-bottom: 20px;
  text-align: start;
}
.book button{
  background-color:transparent;
  border: none;
}
.book span{
  font-size: 12px;
  font-weight: 500;
}
.in{
  display: none;
}
.bi{
  color: black;
  font-size: 25px;
  border: none;
  background-color: none;
}
.postcontent{
  height: auto;
}
.liked{
  color: red;
  font-size: 25px;
  border: none;
  background-color: none;
}
.cont-com{
  height: auto;
  /* border: 1px solid red; */
}
.com-inp{
  width: 100%;
  border: 1px solid rgb(151, 151, 151);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 30px;
  height: 45px;


}
.com-inp2{
  width: 90%;
  height: auto;
  display: block;
  /* border: 1px solid red; */
}
.com-disp{
  width: 100%;
  /* border: 1px solid red; */
  
}
.post-btn{
  width: 90%;
  text-align: start;
  padding-left: 10px;
  display: none;
}
.post-btn2{
  width: 90%;
  text-align: start;
  padding-left: 10px;
  display: block;
}
.com-inp input{
  border-radius: 30px;
  height: 30px;
  width: 80%;
  outline: none;
  padding-left: 10px;
  border: none;
}
.com-inp input::placeholder{
  /* padding-left:20px ; */
  color: gray;
  font-size: 15px;
  font-weight: 400;
}
.img-com{
  width: 40px;
  height: 40px;

}
.img-com img{
  object-fit: cover !important;
}
.cont-com2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  /* border: 1px solid red; */
}
.iner-com{
  width: fit-contents;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 15px;

}
.iner-com:hover{
  background-color: rgba(218, 213, 213, 0.877);
}
.iner-com span{
  font-size: 14px;
  padding-left: 5px;
}
.emoji2{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.emoji2:hover{
  background-color: rgb(211, 210, 210);
}
.comment-div{
  width: 90%;
  height: auto;
  background-color: rgb(243, 242, 239);
  border-radius: 0px 5px 0px 5px;
  margin-bottom: 10px;

}
.form{
   max-width: 500px !important;
   background-color: white;
   border-radius: 20px;
}
.login-btn{
  border: none !important;
  background-color: white !important;
  color: rgb(49, 49, 218);
}
.preloader{
  height: 100vh;
}
.animate-div{
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.loader{
  width: 100%;
  background-color:rgb(57, 57, 119);
  height: 2px;
  position: absolute;
  animation: loaderAnimation 2s linear infinite;
}

@keyframes loaderAnimation {
  0% {
    transform: translateX(-100%); /* Initial position outside the container */
  }
  100% {
    transform: translateX(100%); /* Move the loader to the right inside the container */
  }
}

@media (max-width:400px) {
  .right{
    width: 0%;
    height: 700px;
    display: none;
  }
  .left{
    width: 0%;
    height: 700px;
    display: none;
  }
  .center{
    width: 100%;
    height: 700px;
    overflow-y: scroll;

  }
  .logo-nav{
    width: 0% !important;
    display: none;
  }
  .logo-nav img{
    display: none;
  }
  .logo-nav input{
    display: none;
  }
  .top{
    width: 100%;
    height: 60px;
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    /* border: 1px solid red; */
  }
  .sm-none {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .sm-none {
    display: none;
  }
}